<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin Profile</title>

  <!-- Custom fonts for this template-->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <!-- Datatable CSS -->
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

  <!-- Custom styles for this template-->
  <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
  <!-- Boilerplate CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="/css/adminDashboard.css" rel="stylesheet">

  <style>
    #postsTable {
      counter-reset: serial-number;
      /* Set the serial number counter to 0 */
    }

    #postsTable td:first-child:before {
      counter-increment: serial-number;
      /* Increment the serial number counter */
      content: counter(serial-number);
      /* Display the counter */
    }



    /***** CSS ANIMATION BEGINS ********/
    .slide-in {
      z-index: 10;
      /* to position it in front of the other content */
      margin-top: -1.5em;
      position: fixed;
      overflow: hidden;
      /* to prevent scrollbar appearing */
    }

    .slide-in.from-right {
      right: 0;
      max-width: 280px;
      min-width: 240px;
      font-size: 14px;
    }

    .slide-in-content {
      transition: transform .5s ease;
      /* our nice transition */
    }

    .slide-in .success {
      border-left: 3px solid #00CC00;
      padding: 5px 20px;
      background: #bfeaff;
    }

    .slide-in .error {
      border-left: 3px solid rgb(248, 0, 0);
      padding: 5px 20px;
      background: #f7cecb;
    }

    .slide-in.from-right .slide-in-content {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }

  .slide-in.show .slide-in-content {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }

    /*LOADER*/
    .lds-hourglass {
      display: inline-block;
      position: relative;
      max-width: 30px;
      max-height: 30px;
    }

    .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 12px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-hourglass 1.2s infinite;
    }

    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }

      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      100% {
        transform: rotate(1800deg);
      }
    }
  </style>

</head>

<body id="page-top">


  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../templates/adminSidebar') %>
    <!-- End of Sidebar -->

    <!-- Update profile modal -->
    <div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog"
      aria-labelledby="updateProfileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <header class="modal-header">
            <h4 class="modal-title " id="updateProfileModalLabel">Update Profile</h4>
            <button role="button" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </header>
          <div class="modal-body">
            <div class="row">
              <div class="col-11 mx-auto py-3">
                <form id="updateProfileFormId" name="updateProfileForm" class="needs-validation">
                  <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstname"
                      value="<%= user.firstname %>" placeholder="John" autocomplete="given-name" autocapitalize="on"
                      minlength="2">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Doe"
                      autocomplete="family-name" value="<%= user.lastname %>" autocapitalize="on" minlength="2">
                  </div>
                  <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" value="<%= user.username %>" id="userName" name="username"
                      placeholder="johnDoe" autocomplete="username">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" value="<%= user.phone %>" id="phone" name="phone"
                      autocomplete="url">
                  </div>
                  <div class="form-group">
                    <!-- Set as select and iterate over -->
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Nigeria"
                      autocomplete="country-name" autocapitalize="on">
                  </div>
                  <div class="form-group">
                    <label for="state-city">State/City</label>
                    <input type="text" class="form-control" id="state-city" name="stateOrCity" placeholder="Lagos">
                  </div>
                </form>
                <div class="text-center">
                  <button class="btn btn-lg prj-btn-primary " id="btnUpdateProfile">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 <!-- Profile Update Success Toast -->
 
<!--NOTIFICATION TOAST-->
<div class="dashboard-settings-container-pt">
 <div class="slide-in from-right">
   <div class="slide-in-content">
     <div class="row">
       <span class="col-10" style="padding-top: 3px;">Success Message oei
       </span>
       <span class="col-2" style="padding-top: 2px;"><span class="lds-hourglass"></span></span>
     </div>
   </div>
 </div>
</div>

    <!-- Content Wrapper -->
    <div class="container-fluid main-container pt-5">
      <div class="row">
        <div class="col-12">
          <div class="profile-container my-3 d-flex flex-column justify-content-center align-items-center flex-sm-row">
            <img src="<%= user.photo %>  alt=" my avatar" class="profile-img img-fluid rounded-circle mr-sm-4">
            <div class="d-flex flex-column justify-content-center align-items-center ml-sm-4 mt-3 mt-sm-0">
              <h1 clss="h3"><%= user.firstname +' '+user.lastname %></h1>
              <p class="mb-0 lead prj-text-normal ">
                <span class="font-weight-normal d-inline-block ">
                  <%= userPosts.length %>
                </span>
                posts
                <span class="font-weight-normal d-inline-block ">
                  <%= numberOfLikes %>
                </span>
                likes</p>
              <button type="button" class="btn btn-sm prj-btn-primary mt-3" data-toggle="modal"
                data-target="#updateProfileModal">
                Update profile
              </button>
            </div>
          </div>
          <div class="col-11 mx-auto">
            <ul class="nav nav-tabs justify-content-center my-3" role="tablist">
              <li class="nav-item prj-nav-item mr-2" role="presentation">
                <a class="nav-link prj-nav-link active" id="tabs-my-posts-tab" data-toggle="pill" href="#tabs-my-posts" role="tab"
                  aria-controls="tabs-my-posts" aria-selected="true">My posts</a>
              </li>
              <li class="nav-item prj-nav-item" role="presentation">
                <a class="nav-link prj-nav-link" id="tabs-create-post-tab" data-toggle="pill" href="#tabs-create-post" role="tab"
                  aria-controls="tabs-create-post" aria-selected="false">Create a post</a>
              </li>
            </ul>
            <div class="tab-content" id="tabs-tabContent">
              <div class="tab-pane fade show active" id="tabs-my-posts" role="tabpanel"
                aria-labelledby="tabs-my-posts-tab">
                <!-- My posts -->
                <div class="my-posts-container row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                  <% if (userPosts.length === 0) { %>
                  <div class="my-post col px-1 py-3 mx-auto my-2">
                    <img class="img-fluid" src="/images/no-posts.svg" alt="No posts">
                    <p class="small text-center">You have not created a post yet</p>
                    <p class="small text-center">Click on the 'Create a post' tab to create a post</p>
                  </div>
                  <% } %>
                  <% for( post in userPosts) { %>
                  <div class="my-post col px-1 py-3 position-relative my-2">
                    <div
                      class="default-post-content py-2 d-flex flex-column align-items-center justify-content-space-around">
                      <img src="<%= post.postPicture %>"  class=" img-fluid" alt="post header image" />
                      <p class="my-4 lead font-weight-normal text-center">
                        <%= post.title %>
                      </p>
                    </div>
                    <div
                      class="hover-post-content px-4 position-absolute d-flex flex-column align-items-center justify-content-center">
                      <p class="text-center">
                        <%= post.description %>
                      </p>
                      <a href="#" class="btn bg-white text-secondary">View post</a>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-create-post" role="tabpanel" aria-labelledby="tabs-create-post-tab">
                <!-- Create a post -->
                <div class="col-12">
                  <form id="postFormId" action="#" class="needs-validation">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" class="form-control" id="title"
                        placeholder="Enter your post title" required />
                    </div>

                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input type="text" name="title" class="form-control" id="subject"
                        placeholder="Enter your post title" required />
                    </div>

                    <div class="form-group mt-3">
                      <label class="mr-2">Post Photo:</label>
                      <input type="file" name="file" />
                    </div>
                    <hr />

                    <div class="form-group">
                      <label for="postContent">Content</label>
                      <textarea class="form-control" id="postContent" placeholder="Add text here" required></textarea>
                    </div>

                    <div class="d-flex justify-content-center justify-content-md-start">
                      <button role="button" id="postFormBtn" type="submit" class="btn btn-secondary">Post</button>
                    </div>
                  </form>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Boilerplate JS -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/popper.js"></script>

  <script src="/js/user-dashboard.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/toast.js"></script>

  <!-- <script src="https://cdn.tiny.cloud/1/zmeht2ue8lcu1icuo458dfkh7rkyf6fuwgfr6je2hq2nuimv/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea'
    });
  </script> -->

  <script>
    document.getElementById('postFormBtn').addEventListener('click', async function (event) {

      const form = document.getElementById('postFormId');
      const [title, subject, fileData] = form.querySelectorAll('input');
      const textarea = document.getElementById('postContent').value;
      // const textarea = tinyMCE.get('postContent').getContent();

      let addValidation = true;

      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      } else if (form.checkValidity()) {
        event.preventDefault();

        const getData = await getFormData(title.value, subject.value, fileData.files[0], textarea);
        const response = await createPost(getData);
        // console.log(response);
        const redirect = () => {
          window.location.href = '/posts';
        };
        if (response.status === 'success') {
          toaster(response.message, 'success');
          removeToaster(3000);
          setTimeout(redirect, 3100);
        } else {
          toaster(response.message, 'error');
          removeToaster(3000);
        }
      }
      if (addValidation) {
        form.classList.add('was-validated');
      }
      event.preventDefault();
    },
      false,
    );

    const getFormData = (title, subject, fileData, textarea) => {

      const fileUploadData = new FormData();
      fileUploadData.append('title', title,);
      fileUploadData.append('description', subject,);
      fileUploadData.append('photo', fileData);
      fileUploadData.append('body', textarea);

      return fileUploadData;
    };

    const createPost = async (userData) => {
      const profileUrl = '/post/new';
      const [csrf] = document.getElementsByName('_csrf');

      try {
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

        const { data } = await axios({
          method: 'POST',
          url: profileUrl,
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'csrf-token': csrf.value,
          },
          data: userData,
        });

        return data;
      } catch (e) {
        return e.response.data;
      }
    };
</script>
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#postsTable').DataTable();
    });
  </script>

  <!-- Core plugin JavaScript-->
  <script src="/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>





</body>

</html>